- name: Create tailscale oauth secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: operator-oauth # Hard coded in tailscale operator helm chart
        namespace: "{{ tailscale_namespace }}"
      type: Opaque
      stringData:
        client_id: "{{ tailscale_client_id }}"
        client_secret: "{{ tailscale_client_secret }}"
    kubeconfig: "{{ k8s_kubectl_config_path }}"
  no_log: "{{ not debug }}"
