trigger:
  branches:
    include:
      - main

pool:
  name: 'local-lab'
  vmImage: 'ubuntu-latest'

resources:
  pipelines:
    - pipeline: clusterBase
      source: ParksBra.home-k8s-cluster-base
  repositories:
    - repository: terraformPlatformNetwork
      type: github
      endpoint: ParksBra
      ref: migrate_to_self_contained
      name: ParksBra/home-k8s-tf-platform-network

    - repository: terraformPlatformStorage
      type: github
      endpoint: ParksBra
      ref: migrate_to_self_contained
      name: ParksBra/home-k8s-tf-platform-storage

variables:
  - name: venvPath
    value: $(System.DefaultWorkingDirectory)/venv
  - name: pythonRequirementsFileName
    value: requirements.txt
  - name: ansibleRequirementsFileName
    value: requirements.yml
  - name: cacheVersion
    value: v01
  - name: ansibleWorkspacePath
    value: $(System.DefaultWorkingDirectory)/ansible
  - name: ansibleConfigPath
    value: $(ansibleWorkspacePath)/ansible.cfg
  - name: ansibleDebug
    value: "false"
  - name: terraformWorkspaceDirectoryName
    value: terraform
  - name: terraformWorkspacePath
    value: $(System.DefaultWorkingDirectory)/$(terraformWorkspaceDirectoryName)
  - name: terraformPlanFileName
    value: tfplan
  - name: terraformBackendNamespace
    value: kube-system
  - name: kubeconfigArtifactName
    value: kubeconfigFile
  - name: kubeconfigArtifactPath
    value: $(Pipeline.Workspace)/clusterBase/$(kubeconfigArtifactName)/kubeconfig
  - group: home-k8s-ssh

stages:
  - stage: "platformNetworkPrerequisites"
    displayName: "Platform Network Prerequisites"
    jobs:
      - job: "setupAnsible"
        variables:
          - group: home-k8s-cluster
        displayName: "Setup Ansible"
        steps:
          - checkout: self
            name: "checkoutCurrentRepo"
            clean: "true"
            displayName: 'Checkout Current Repository'

          - task: Bash@3
            name: "setupEnvironment"
            displayName: "Setup Python Environment"
            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Setup Python Virtual Environment"
                    python3 -m venv $(venvPath)
                    $(venvPath)/bin/pip install --upgrade pip
                echo "##[endgroup]"
              failOnStderr: true

          - task: Cache@2
            name: "cacheVenv"
            displayName: "Cache Virtual Environment"
            inputs:
              key: 'venv$(cacheVersion) | "$(Agent.OS)" | $(ansibleWorkspacePath)/$(pythonRequirementsFileName)'
              path: $(venvPath)
              cacheHitVar: cacheRestored

          - task: Bash@3
            name: "installDependencies"
            displayName: "Install Dependencies"
            condition: ne(variables.cacheRestored, 'true')
            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Install pip requirements"
                    $(venvPath)/bin/pip install --upgrade -r $(ansibleWorkspacePath)/$(pythonRequirementsFileName)
                    $(venvPath)/bin/pip install ansible
                    ansible-galaxy collection install --force -r $(ansibleWorkspacePath)/$(ansibleRequirementsFileName)
                echo "##[endgroup]"

          - task: DownloadSecureFile@1
            name: controllerKey
            displayName: 'Fetch Controller SSH Key'
            inputs:
              secureFile: "$(home-k8s-ssh-controller-key-secret-file)"

          - task: DownloadSecureFile@1
            name: workerKey
            displayName: 'Fetch Worker SSH Key'
            inputs:
              secureFile: "$(home-k8s-ssh-worker-key-secret-file)"

          - task: Bash@3
            name: "ansibleNetworkPrerequisites"
            displayName: "Run Ansible Playbook for Platform Network Prerequisites"
            env:
              ANSIBLE_CONFIG: "$(ansibleConfigPath)"
              DEBUG: "$(ansibleDebug)"
              CI_WORKSPACE: "$(System.DefaultWorkingDirectory)"
              CONTROLLER_SSH_KEY_PATH: "$(controllerKey.secureFilePath)"
              CONTROLLER_SSH_USER: "$(home-k8s-ssh-controller-user)"
              WORKER_SSH_KEY_PATH: "$(workerKey.secureFilePath)"
              WORKER_SSH_USER: "$(home-k8s-ssh-worker-user)"
              K8S_CLUSTER_DOMAIN: "$(home-k8s-cluster-cluster-domain)"
              K8S_POD_NETWORK_CIDR: "$(home-k8s-cluster-pod-network-cidr)"
              K8S_SERVICE_NETWORK_CIDR: "$(home-k8s-cluster-service-network-cidr)"
              K8S_DISCOVERY_TOKEN: "$(home-k8s-cluster-discovery-token)"
            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Set Permissions for SSH Key(s)"
                    chmod 600 $CONTROLLER_SSH_KEY_PATH
                    chmod 600 $WORKER_SSH_KEY_PATH
                echo "##[endgroup]"

                echo "##[group]Run the Ansible Playbook"
                    cd $(ansibleWorkspacePath)
                    $(venvPath)/bin/ansible-playbook $(ansibleWorkspacePath)/playbooks/platform_network_prereqs.yml
                echo "##[endgroup]"
              failOnStderr: true

  - stage: "platformNetworkTerraform"
    dependsOn: "platformNetworkPrerequisites"
    displayName: "Platform Network Terraform"
    jobs:
      - job: "terraformApply"
        displayName: "Run Terraform Apply for Platform Network"
        variables:
          - group: home-k8s-terraform
          - group: home-k8s-cluster
          - name: terraformBackendSuffix
            value: "platform-network"
        steps:
          - download: clusterBase
            displayName: 'Download Kubeconfig File Artifact'
            artifact: $(kubeconfigArtifactName)

          - checkout: terraformPlatformNetwork
            displayName: 'Checkout Platform Network Repository'
            path: "$(terraformWorkspaceDirectoryName)"
            sparseCheckoutDirectories: "terraform"

          - task: TerraformInstaller@1
            name: "installTerraform"
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: 'latest'

          - task: Bash@3
            name: "runTerraformPlan"
            displayName: "Terraform Plan"
            env:
              TF_DATA_DIR: "$(terraformWorkspacePath)/.terraform"
              TF_IN_AUTOMATION: "1"
              TF_INPUT: "0"
              TF_VAR_azuredevops_library_name: "home-k8s-cluster"
              TF_VAR_azuredevops_library_project_id: "$(System.TeamProjectId)"
              CLOUDFLARE_API_TOKEN: $(home-k8s-terraform-provider-cloudflare-api-token)
              KUBE_NAMESPACE: "$(terraformBackendNamespace)"
              KUBE_CONFIG_PATH: "$(kubeconfigArtifactPath)"
              AZDO_PERSONAL_ACCESS_TOKEN: $(System.AccessToken)
              AZDO_ORG_SERVICE_URL: $(System.TeamFoundationCollectionUri)

            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Run Terraform Init"
                    cd $(terraformWorkspacePath)
                    terraform init -no-color -upgrade -reconfigure -backend-config='secret_suffix=$(terraformBackendSuffix)'
                echo "##[endgroup]"
                echo "##[group]Run Terraform Plan"
                    terraform plan -no-color -out=$(terraformPlanFileName)
                echo "##[endgroup]"
              failOnStderr: true

          - task: Bash@3
            name: "runTerraformApply"
            displayName: "Terraform Apply"
            env:
              TF_DATA_DIR: "$(terraformWorkspacePath)/.terraform"
              TF_IN_AUTOMATION: "1"
              TF_INPUT: "0"
              TF_VAR_azuredevops_library_name: "home-k8s-cluster"
              TF_VAR_azuredevops_library_project_id: "$(System.TeamProjectId)"
              CLOUDFLARE_API_TOKEN: $(home-k8s-terraform-provider-cloudflare-api-token)
              KUBE_NAMESPACE: "$(terraformBackendNamespace)"
              KUBE_CONFIG_PATH: "$(kubeconfigArtifactPath)"
              AZDO_PERSONAL_ACCESS_TOKEN: $(System.AccessToken)
              AZDO_ORG_SERVICE_URL: $(System.TeamFoundationCollectionUri)

            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Run Terraform Init"
                    cd $(terraformWorkspacePath)
                    terraform init -no-color -upgrade -reconfigure -backend-config='secret_suffix=$(terraformBackendSuffix)'
                echo "##[endgroup]"
                echo "##[group]Run Terraform Apply"
                    terraform apply -no-color -auto-approve $(terraformPlanFileName)
                echo "##[endgroup]"
              failOnStderr: true

  - stage: "platformStoragePrerequisites"
    displayName: "Platform Storage Prerequisites"
    jobs:
      - job: "setupAnsible"
        variables:
          - group: home-k8s-cluster
        displayName: "Setup Ansible"
        steps:
          - checkout: self
            name: "checkoutCurrentRepo"
            clean: "true"
            displayName: 'Checkout Current Repository'

          - task: Bash@3
            name: "setupEnvironment"
            displayName: "Setup Python Environment"
            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Setup Python Virtual Environment"
                    python3 -m venv $(venvPath)
                    $(venvPath)/bin/pip install --upgrade pip
                echo "##[endgroup]"
              failOnStderr: true

          - task: Cache@2
            name: "cacheVenv"
            displayName: "Cache Virtual Environment"
            inputs:
              key: 'venv$(cacheVersion) | "$(Agent.OS)" | $(ansibleWorkspacePath)/$(pythonRequirementsFileName)'
              path: $(venvPath)
              cacheHitVar: cacheRestored

          - task: Bash@3
            name: "installDependencies"
            displayName: "Install Dependencies"
            condition: ne(variables.cacheRestored, 'true')
            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Install pip requirements"
                    $(venvPath)/bin/pip install --upgrade -r $(ansibleWorkspacePath)/$(pythonRequirementsFileName)
                    $(venvPath)/bin/pip install ansible
                    ansible-galaxy collection install --force -r $(ansibleWorkspacePath)/$(ansibleRequirementsFileName)
                echo "##[endgroup]"

          - task: DownloadSecureFile@1
            name: controllerKey
            displayName: 'Fetch Controller SSH Key'
            inputs:
              secureFile: "$(home-k8s-ssh-controller-key-secret-file)"

          - task: DownloadSecureFile@1
            name: workerKey
            displayName: 'Fetch Worker SSH Key'
            inputs:
              secureFile: "$(home-k8s-ssh-worker-key-secret-file)"

          - task: Bash@3
            name: "ansibleStoragePrerequisites"
            displayName: "Run Ansible Playbook for Platform Storage Prerequisites"
            env:
              ANSIBLE_CONFIG: "$(ansibleConfigPath)"
              DEBUG: "$(ansibleDebug)"
              CI_WORKSPACE: "$(System.DefaultWorkingDirectory)"
              CONTROLLER_SSH_KEY_PATH: "$(controllerKey.secureFilePath)"
              CONTROLLER_SSH_USER: "$(home-k8s-ssh-controller-user)"
              WORKER_SSH_KEY_PATH: "$(workerKey.secureFilePath)"
              WORKER_SSH_USER: "$(home-k8s-ssh-worker-user)"
              K8S_CLUSTER_DOMAIN: "$(home-k8s-cluster-cluster-domain)"
              K8S_POD_NETWORK_CIDR: "$(home-k8s-cluster-pod-network-cidr)"
              K8S_SERVICE_NETWORK_CIDR: "$(home-k8s-cluster-service-network-cidr)"
              K8S_DISCOVERY_TOKEN: "$(home-k8s-cluster-discovery-token)"
            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Set Permissions for SSH Key(s)"
                    chmod 600 $CONTROLLER_SSH_KEY_PATH
                    chmod 600 $WORKER_SSH_KEY_PATH
                echo "##[endgroup]"

                echo "##[group]Run the Ansible Playbook"
                    cd $(ansibleWorkspacePath)
                    $(venvPath)/bin/ansible-playbook $(ansibleWorkspacePath)/playbooks/platform_storage_prereqs.yml
                echo "##[endgroup]"
              failOnStderr: true

  - stage: "platformStorageTerraform"
    dependsOn:
      - "platformNetworkTerraform"
      - "platformStoragePrerequisites"
    displayName: "Platform Storage Terraform"
    jobs:
      - job: "terraformApply"
        displayName: "Run Terraform Apply for Platform Storage"
        variables:
          - group: home-k8s-terraform
          - group: home-k8s-cluster
          - name: terraformBackendSuffix
            value: "platform-storage"
        steps:
          - download: clusterBase
            displayName: 'Download Kubeconfig File Artifact'
            artifact: $(kubeconfigArtifactName)

          - checkout: terraformPlatformStorage
            displayName: 'Checkout Platform Storage Repository'
            path: "$(terraformWorkspaceDirectoryName)"
            sparseCheckoutDirectories: "terraform"

          - task: TerraformInstaller@1
            name: "installTerraform"
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: 'latest'

          - task: Bash@3
            name: "runTerraformPlan"
            displayName: "Terraform Plan"
            env:
              TF_DATA_DIR: "$(terraformWorkspacePath)/.terraform"
              TF_IN_AUTOMATION: "1"
              TF_INPUT: "0"
              TF_VAR_azuredevops_library_name: "home-k8s-cluster"
              TF_VAR_azuredevops_library_project_id: "$(System.TeamProjectId)"
              CLOUDFLARE_API_TOKEN: $(home-k8s-terraform-provider-cloudflare-api-token)
              KUBE_NAMESPACE: "$(terraformBackendNamespace)"
              KUBE_CONFIG_PATH: "$(kubeconfigArtifactPath)"
              AZDO_PERSONAL_ACCESS_TOKEN: $(System.AccessToken)
              AZDO_ORG_SERVICE_URL: $(System.TeamFoundationCollectionUri)

            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Run Terraform Init"
                    cd $(terraformWorkspacePath)
                    terraform init -no-color -upgrade -backend-config='secret_suffix=$(terraformBackendSuffix)'
                echo "##[endgroup]"
                echo "##[group]Run Terraform Plan"
                    terraform plan -no-color -out=$(terraformPlanFileName)
                echo "##[endgroup]"
              failOnStderr: true

          - task: Bash@3
            name: "runTerraformApply"
            displayName: "Terraform Apply"
            env:
              TF_DATA_DIR: "$(terraformWorkspacePath)/.terraform"
              TF_IN_AUTOMATION: "1"
              TF_INPUT: "0"
              TF_VAR_azuredevops_library_name: "home-k8s-cluster"
              TF_VAR_azuredevops_library_project_id: "$(System.TeamProjectId)"
              CLOUDFLARE_API_TOKEN: $(home-k8s-terraform-provider-cloudflare-api-token)
              KUBE_NAMESPACE: "$(terraformBackendNamespace)"
              KUBE_CONFIG_PATH: "$(kubeconfigArtifactPath)"
              AZDO_PERSONAL_ACCESS_TOKEN: $(System.AccessToken)
              AZDO_ORG_SERVICE_URL: $(System.TeamFoundationCollectionUri)

            inputs:
              targetType: "inline"
              script: |
                echo "##[group]Run Terraform Init"
                    cd $(terraformWorkspacePath)
                    terraform init -no-color -upgrade -backend-config='secret_suffix=$(terraformBackendSuffix)'
                echo "##[endgroup]"
                echo "##[group]Run Terraform Apply"
                    terraform apply -no-color -auto-approve $(terraformPlanFileName)
                echo "##[endgroup]"
              failOnStderr: true
