- name: Create k8s velero schedule
  kubernetes.core.k8s:
    state: "{{ 'present' if velero_schedule_backup else 'absent' }}"
    definition:
      apiVersion: velero.io/v1
      kind: Schedule
      metadata:
        name: "{{ velero_schedule_backup_name }}"
        namespace: "{{ velero_namespace }}"
      spec:
        schedule: "{{ velero_schedule_backup_cron | join(' ') }}"
        template:
          ttl: "{{ velero_schedule_backup_ttl }}"
          includedNamespaces: "{{ velero_schedule_backup_include_namespaces | list }}"
          excludedNamespaces: "{{ velero_schedule_backup_exclude_namespaces | list }}"
          includedResources: "{{ velero_schedule_backup_include_resources | list }}"
          excludedResources: "{{ velero_schedule_backup_exclude_resources | list }}"
    kubeconfig: "{{ k8s_kubectl_config_path }}"
