- name: Ensure local storage path exists for minio-velero tenant with correct permissions
  ansible.builtin.file:
    path: "{{ minio_velero_tenant_local_storage_path }}"
    state: directory
    mode: '0755'
    owner: "{{ minio_velero_tenant_system_user }}"
    group: "{{ minio_velero_tenant_system_group }}"
    recurse: true
  become: true

- name: Patch controller with storage node label for minio-velero PV
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    definition:
      apiVersion: v1
      kind: Node
      metadata:
        name: "{{ minio_velero_tenant_storage_host }}"
        labels:
          minio.io/storage-node: "true"

- name: Create storageclass for minio-velero PVC
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: "{{ minio_velero_tenant_reference }}-sc"
      provisioner: kubernetes.io/no-provisioner
      volumeBindingMode: WaitForFirstConsumer
      reclaimPolicy: Retain

- name: Create PV for local minio-velero storage
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: "{{ minio_velero_tenant_reference }}-pv"
      spec:
        capacity:
          storage: "{{ minio_velero_tenant_volume_size }}"
        accessModes:
          - ReadWriteOnce
        persistentVolumeReclaimPolicy: Retain
        storageClassName: "{{ minio_velero_tenant_reference }}-sc"
        hostPath:
          path: "{{ minio_velero_tenant_local_storage_path }}"
          type: DirectoryOrCreate
        nodeAffinity:
            required:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: kubernetes.io/hostname # Or any other node label
                      operator: In
                      values:
                        - "{{ minio_velero_tenant_storage_host }}"
