- name: Ensure minio-velero group exists
  ansible.builtin.group:
    name: "{{ minio_velero_tenant_system_group }}"
    state: present
  become: true

- name: Ensure minio-velero user exists
  ansible.builtin.user:
    name: "{{ minio_velero_tenant_system_user }}"
    group: "{{ minio_velero_tenant_system_group }}"
    state: present
    create_home: false
  register: minio_velero_user_info
  become: true

- name: Create temp values file
  block:
    - name: Ensure temp directory exists
      ansible.builtin.file:
        path: "{{ temp_directory }}"
        state: directory
    
    - name: Create helm values temp file for minio-velero tenant
      ansible.builtin.template:
        src: tenant_values.yml.j2
        dest: "{{ temp_directory }}/{{ minio_velero_tenant_reference }}_tenant_values.yml"

- name: Install minio-velero tenant via helm
  kubernetes.core.helm:
    name: "{{ minio_velero_tenant_reference }}-tenant"
    chart_ref: minio/tenant
    namespace: "{{ minio_velero_tenant_namespace }}"
    create_namespace: true
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    values_files:
      - "{{ temp_directory }}/{{ minio_velero_tenant_reference }}_tenant_values.yml"
    update_repo_cache: true
    state: present

- name: Create minio-velero tenant secret
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ minio_velero_tenant_reference }}-tenant-secret"
        namespace: "{{ minio_velero_tenant_namespace }}"
      type: Opaque
      stringData:
        config.env: |-
          export MINIO_ROOT_USER={{ minio_velero_tenant_access_key | quote }}
          export MINIO_ROOT_PASSWORD={{ minio_velero_tenant_secret_key | quote }}
  no_log: "{{ not debug }}"
