- name: Ensure minio-velero group exists
  ansible.builtin.group:
    name: "{{ minio_velero_tenant_system_group }}"
    state: present
  become: true

- name: Ensure minio-velero user exists
  ansible.builtin.user:
    name: "{{ minio_velero_tenant_system_user }}"
    group: "{{ minio_velero_tenant_system_group }}"
    state: present
    create_home: false
  register: minio_velero_user_info
  become: true

- name: Set gid and uid facts
  ansible.builtin.set_fact:
    minio_velero_tenant_system_gid: "{{ minio_velero_user_info.group | int }}"
    minio_velero_tenant_system_uid: "{{ minio_velero_user_info.uid | int }}"

- name: Create values file
  ansible.builtin.include_role:
    name: helm_values
  vars:
    requested_values_templates:
      - minio-velero-tenant

- name: Install minio-velero tenant via helm
  kubernetes.core.helm:
    name: "{{ minio_velero_tenant_reference }}-tenant"
    chart_ref: minio/tenant
    namespace: "{{ minio_velero_tenant_namespace }}"
    create_namespace: true
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    values_files:
      - "{{ helm_values_temp_file }}"
    update_repo_cache: true
    state: present

- name: Create minio-velero tenant secret
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ minio_velero_tenant_reference }}-tenant-secret"
        namespace: "{{ minio_velero_tenant_namespace }}"
      type: Opaque
      stringData:
        config.env: |-
          export MINIO_ROOT_USER={{ minio_velero_tenant_access_key | quote }}
          export MINIO_ROOT_PASSWORD={{ minio_velero_tenant_secret_key | quote }}
  no_log: "{{ not debug }}"
