- name: Add minio repo to helm
  kubernetes.core.helm_repository:
    name: minio
    repo_url: https://operator.min.io/
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    force_update: true

- name: Create values file
  ansible.builtin.include_role:
    name: helm_values
  vars:
    requested_values_templates:
      - minio-operator

- name: Install minio operator via helm
  kubernetes.core.helm:
    name: minio-operator
    chart_ref: minio/operator
    namespace: "{{ minio_operator_namespace }}"
    create_namespace: true
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    values_files:
      - "{{ helm_values_temp_file }}"
