- name: Add minio repo to helm
  kubernetes.core.helm_repository:
    name: minio
    repo_url: https://operator.min.io/
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    force_update: true

- name: Create temp values file
  block:
    - name: Ensure temp directory exists
      ansible.builtin.file:
        path: "{{ temp_directory }}"
        state: directory
    
    - name: Create helm values temp file for minio-velero tenant
      ansible.builtin.template:
        src: minio_operator_values.yml.j2
        dest: "{{ temp_directory }}/minio_operator_values.yml"


- name: Install minio operator via helm
  kubernetes.core.helm:
    name: minio-operator
    chart_ref: minio/operator
    namespace: "{{ minio_operator_namespace }}"
    create_namespace: true
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    values_files:
      - "{{ temp_directory }}/minio_operator_values.yml"
