velero_cli_version: "1.17.1"
velero_cli_arch: "arm64"
velero_cli_download_url: "https://github.com/vmware-tanzu/velero/releases/download/v{{ velero_cli_version }}/velero-v{{ velero_cli_version }}-linux-{{ velero_cli_arch }}.tar.gz"
velero_cli_install_dir: "/usr/local/bin"
