- name: Get minio service cluster IP
  kubernetes.core.k8s_info:
    kind: Service
    namespace: "{{ minio_velero_tenant_namespace }}"
    name: minio
    kubeconfig: "{{ k8s_kubectl_config_path }}"
  register: minio_service_info
  retries: 10
  delay: 5
  until: minio_service_info.resources | length > 0

- name: Add minio service IP to hosts file
  ansible.builtin.lineinfile:
    path: /etc/hosts
    search_string: "{{ minio_velero_tenant_api_svc_address }}"
    line: "{{ minio_service_info.resources[0].spec.clusterIP }} {{ minio_velero_tenant_api_svc_address }}"
    state: present
  become: true
