- name: Copy update script to root home directory
  ansible.builtin.template:
    src: "patching.sh.j2"
    dest: "/root/patching.sh"
    owner: root
    group: root
    mode: 0755

- name: Configure patching cron job
  ansible.builtin.cron:
    name: "weekly_patching"
    minute: "{{ patching_cron[0] }}"
    hour: "{{ patching_cron[1] }}"
    day: "{{ patching_cron[2] }}"
    month: "{{ patching_cron[3] }}"
    weekday: "{{ patching_cron[4] }}"
    job: "/root/patching.sh"
    user: root
    state: "{{ 'present' if patching_enabled else 'absent' }}"
